.drop-zone {
  border: solid;
  border-width: 2px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

label {
    color: white;
    border-radius: 20px;
    background-color: #ff6a00;
}

.custom-cursor {
  cursor: pointer;
}

.file-type {
  color: #acacac;
}

.single-file {
  
}

.drop-zone.drag-over {
  background-color: #bfe6cd;
  border: dashed;
}

.upload-items {
  padding-left: 12px;
}
