<nav class="navbar navbar-expand-lg navbar-white shadow-sm">
  <div class="navbar-brand pb-3">
    <img
      src="../../assets/images/siemens-healthineers-logo.png"
      alt="Siemens Healthineers"
      class="img-fluid col-3"
    />
    Cybersecurity Assessment
  </div>
  <button
    class="navbar-toggler offset-1"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse p-3 bg-white" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let menuItem of menuItems">
        <a
          class="nav-link font-weight-bold"
          routerLink="{{ menuItem.link }}"
          routerLinkActive="active fw-bolder"
          [ngClass]="menuItem.disabled ? 'disabled' : ''"
        >
          {{ menuItem.text }}
        </a>
      </li>
    </ul>
    <ul *ngIf="!isLoggedIn" class="navbar-nav ms-auto">
      <li class="nav-item">
        <button
          class="btn btn-link d-flex align-items-center login"
          (click)="onLogin()"
        >
          <i class="bi bi-box-arrow-in-right me-2"></i>
          Login
        </button>
      </li>
    </ul>
    <ul
      *ngIf="isLoggedIn"
      class="navigation-list navbar-nav ms-auto"
      style="list-style-type: none"
    >
      <li class="nav-item row align-items-center">
        <div class="col-2">
          <div class="user-circle" style="background-color: slategray">
            <img *ngIf="!showInitials" [src]="photo" class="user-circle" />
            <div *ngIf="showInitials" class="initials">
              {{ initials }}
            </div>
          </div>
        </div>
        <div class="col-4 col-md-3 me-lg-5 offset-1">
          <div
            class="user-details row align-items-start"
            style="color: slategray; font-weight: bold"
          >
            {{ mail }}
          </div>
          <div class="row">
            <div class="col-6 col-md-8" style="color: slategray">
              {{ role }}
            </div>
            <div class="col-6 col-md-4" style="text-decoration: underline">
              <ul
                *ngIf="isLoggedIn"
                class="nav-item ml-auto"
                style="list-style-type: none"
              >
                <li>
                  <button
                    class="btn btn-link d-flex align-items-center login"
                    (click)="onLogout()"
                  >
                    <i class="bi bi-box-arrow-in-right me-2"></i>
                    Logout
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
