.user-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-circle .initials {
  color: white;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2625px;
}

