<nav class="navbar navbar-expand-lg navbar-white shadow-sm">
    <div class="navbar-brand pb-3">
      <img src="../../assets/images/siemens-healthineers-logo.png" alt="Siemens Healthineers" class="img-fluid col-3">
      Cybersecurity Assasment
    </div>
    <button class="navbar-toggler"
            type="button"
            (click)="toggleNavigation()"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf= "!isLoggedIn" class="collapse navbar-collapse p-3 bg-white" [ngClass]="{ 'show': showNavigation }" id="navbarNav">
      <!--      <div class="collapse navbar-collapse" id="navbarNav">
  -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/" (click)="setNavItem('home')">
            <p *ngIf="actualNavItem !== 'home'">Home</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'home'">Home</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/dashboard" (click)="setNavItem('dashboard')">
            <p *ngIf="actualNavItem !== 'dashboard'">Dashboard</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'dashboard'">Dashboard</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/project-search" (click)="setNavItem('project-search')">
            <p *ngIf="actualNavItem !== 'project-search'">Project Search</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'project-search'">Project Search</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/project-management" (click)="setNavItem('/project-management')">
            <p *ngIf="actualNavItem !== '/project-management'">Project Management</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === '/project-management'">Project Management</b>
          </a>
        </li>
        <!-- Add more navigation items as needed -->
      </ul>
      <ul class="navigation-list navbar-nav ms-auto">
        <li class="nav-item row align-items-center">
          <div class="col-2">
            <div class="user-circle" style="background-color: green">
              <div class="initials">
                {{ initials }}
              </div>
            </div>
          </div>
          <div class="col-4 col-md-3 me-lg-5 offset-1">
            <div class="user-details row align-items-start" style="color: slategray; font-weight: bold">
              {{ mail }}
            </div>
            <div class="row">
              <div class="col-6 col-md-8" style="color: slategray">
                {{ role }}
              </div>
              <div class="col-6 col-md-4" style="text-decoration: underline">
                <li class="nav-item ml-auto">
                  <button class="btn btn-link d-flex align-items-center login" (click)="login()">
                  <i class="bi bi-box-arrow-in-right me-2"></i>
                  LogOut
                  </button>
               </li>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse p-3 bg-white" [ngClass]="{ 'show': showNavigation }" id="navbarNav">
      <!--      <div class="collapse navbar-collapse" id="navbarNav">
  -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/" (click)="setNavItem('home')">
            <p *ngIf="actualNavItem !== 'home'">Home</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'home'">Home</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="https://www.siemens-healthineers.com/" (click)="setNavItem('about pentest')">
            <p *ngIf="actualNavItem !== 'about pentest'">About pentest</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'about pentest'">About pentest</b>
          </a>
        </li>
        <li class="nav-item" disabled>
          <a class="nav-link font-weight-bold" href="https://www.siemens-healthineers.com/" (click)="setNavItem('order a pentest')" >
            <p *ngIf="actualNavItem !== 'order a pentest'">Order a pentest</p>
            <b class="text-decoration-underline" *ngIf="actualNavItem === 'order a pentest'">Order a pentest</b>
          </a>
        </li>
        <!-- Add more navigation items as needed -->
      </ul>
      <ul class="navigation-list navbar-nav ms-auto">
        <li class="nav-item ml-auto">
          <button class="btn btn-link d-flex align-items-center login" (click) = "login()">
            <i class="bi bi-box-arrow-in-right me-2"></i>
            Login
          </button>
        </li>
      </ul>
    </div>
</nav>
