<div class="page">
  <div class="pm">
    <div class="header">
      <h1>Project management</h1>
      <h3 style="color: #009999; font-weight: 400">Project ID: 123456</h3>
    </div>
    <div style="margin-bottom: 20px">
      <app-input-component
        (valueChanged)="onChildInputValueChanged($event, 'PN')"
        [title]="'Project name'"
        class="project-name-input"
      ></app-input-component>
    </div>

    <div class="pm-background">
      <div class="pm-columns">
        <div class="left-column">
          <div class="two-in-row">
            <datepicker-component
              [title]="'Start Date'"
              (valueChanged)="onChildDateValueChanged($event, 'STR')"
            ></datepicker-component>
            <datepicker-component
              [title]="'End Date'"
              (valueChanged)="onChildDateValueChanged($event, 'END')"
            ></datepicker-component>
          </div>

          <app-select-component
            (valueChanged)="onChildInputValueChanged($event, 'PST')"
            [option]="ProjectStatus"
            [title]="'Project status'"
          ></app-select-component>

          <app-select-component
            (valueChanged)="onChildInputValueChanged($event, 'PSC')"
            [option]="ProjectScope"
            [title]="'Project scope'"
          ></app-select-component>

          <app-select-component
            (valueChanged)="onChildInputValueChanged($event, 'QUE')"
            [option]="Questionare"
            [title]="'Questionare'"
          ></app-select-component>
          <app-input-component
            (valueChanged)="onChildInputValueChanged($event, 'PA')"
            [title]="'Pentest aspect'"
          ></app-input-component>
          <div>
            <app-radio-button-component
              (valueChanged)="onChildRadioValueChanged($event)"
            ></app-radio-button-component>
          </div>
          <div class="two-in-row">
            <datepicker-component
              [title]="'IKO'"
              (valueChanged)="onChildDateValueChanged($event, 'IKO')"
            ></datepicker-component>
            <datepicker-component
              [title]="'TKO'"
              (valueChanged)="onChildDateValueChanged($event, 'TKO')"
            ></datepicker-component>
          </div>
        </div>

        <div class="left-column">
          <div class="two-in-row">
            <datepicker-component
              (valueChanged)="onChildDateValueChanged($event, 'REP')"
              [title]="'Report Due Date'"
            ></datepicker-component>
            <app-input-component
              (valueChanged)="onChildInputValueChanged($event, 'CN')"
              [title]="'Cats number'"
            ></app-input-component>
          </div>

          <app-input-component
            (valueChanged)="onChildInputValueChanged($event, 'PL')"
            [title]="'Project lead'"
          ></app-input-component>
          <app-input-component
            (valueChanged)="onChildInputValueChanged($event, 'WT')"
            [title]="'Working team'"
            [inputValue]="wtField"
          ></app-input-component>

          <button
            mat-flat-button
            color="warn"
            (click)="onChildButtonValueChanged('WT')"
          >
            Add
          </button>

          <app-input-component
            (valueChanged)="onChildInputValueChanged($event, 'RS')"
            [title]="'Report status'"
          ></app-input-component>
          <app-select-component
            [option]="OfferStatus"
            [title]="'Offer Status'"
          ></app-select-component>
          <app-input-component
            (valueChanged)="onChildInputValueChanged($event, 'CFC')"
            [title]="'Contact for client'"
            [inputValue]="cfcField"
          ></app-input-component>
          <button
            mat-flat-button
            color="warn"
            (click)="onChildButtonValueChanged('CFC')"
          >
            Add
          </button>

          <div>
            <h5>Add comment:</h5>

            <textarea
              type="text"
              class="comment-input"
              #commentInput
              (input)="getValueFromTextarea()"
            ></textarea>
          </div>
        </div>
      </div>

      <button
        mat-flat-button
        color="warn"
        class="create-button"
        (click)="sendRequest()"
      >
        Create
      </button>
    </div>
  </div>
</div>
