<div class="page">
  <div class="pm">
    <div class="header">
      <h1>Project management</h1>
      <h3 style="color: #009999; font-weight: 400">
        Project ID: {{ projectClass.id }}
      </h3>
    </div>
    <div style="margin-bottom: 20px">
      <app-input-component
        (valueChanged)="onChildInputValueChanged($event, 'PN')"
        [title]="'Project name'"
        class="project-name-input"
      ></app-input-component>
    </div>

    <div class="pm-background">
      <div class="pm-columns">
        <div class="left-column">
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component #startDate
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : defaultMaxDate"
                                    [title]="'Start Date'"
                                    (valueChanged)="onChildDateValueChanged($event, 'STR')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidStartDate" class="error-message">Invalid start date</mat-error>
            </div>

            <div class="date-container">
              <datepicker-component #endDate
                                    [minDate]="this.projectClass.StartDate"
                                    [title]="'End Date'"
                                    (valueChanged)="onChildDateValueChanged($event, 'END')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidEndDate" class="error-message">Invalid end date</mat-error>
            </div>
          </div>


          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'PST')"
                                [option]="ProjectStatus"
                                [title]="'Project status'"></app-select-component>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'PSC')"
                                [option]="ProjectScope"
                                [title]="'Project scope'"></app-select-component>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'QUE')"
                                [option]="Questionare"
                                [title]="'Questionare'"></app-select-component>

          <div class="input-container-pentest">
            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'PA')"
                                 [title]="'Pentest aspect'"></app-input-component>
            <mat-error *ngIf="isPentestAspectWhitespace" class="error-message">Pentest aspect cannot contain only whitespace</mat-error>
          </div>

        
          <div>
            <app-radio-button-component (valueChanged)="onChildRadioValueChanged($event)"></app-radio-button-component>
          </div>
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component [minDate]="this.projectClass.StartDate"
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : defaultMaxDate"
                                    [title]="'IKO'"
                                    (valueChanged)="onChildDateValueChanged($event, 'IKO')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidIKO" class="error-message">Invalid IKO</mat-error>
            </div>

            <div class="date-container">
              <datepicker-component [minDate]="this.projectClass.StartDate"
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : defaultMaxDate"
                                    [title]="'TKO'"
                                    (valueChanged)="onChildDateValueChanged($event, 'TKO')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidTKO" class="error-message">Invalid TKO</mat-error>
            </div>
          </div>
        </div>

        <div class="left-column">
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component #reportDueDate
                                    [minDate]="isEndDateSet() ? projectClass.EndDate : projectClass.StartDate"
                                    [title]="'Report Due Date'"
                                    (valueChanged)="onChildDateValueChanged($event, 'REP')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidReportDueDate" class="invalid-date-message">Invalid Report Due Date</mat-error>
            </div>

            <div class="input-container">
              <app-input-component (valueChanged)="onChildInputValueChanged($event, 'CN')"
                                   [title]="'Cats number'"></app-input-component>
              <mat-error *ngIf="isCatsNumberWhitespace" class="invalid-input-message">Invalid Cats number</mat-error>
            </div>

          </div>

          <div class="input-container">
            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'PL')"
                                 [title]="'Project lead'"
                                 class="project-lead-input"></app-input-component>
            <mat-error *ngIf="isProjectLeadWhitespace" class="invalid-input-message">Project lead cannot contain only whitespace</mat-error>
          </div>

          <div class="input-container">
            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'WT')"
                                 [title]="'Working team'"
                                 [inputValue]="wtField"></app-input-component>

            <mat-error *ngIf="isWorkingTeamWhitespace" class="invalid-input-message">Working team cannot contain only whitespace</mat-error>
          </div>

          <button mat-flat-button
                  color="warn"
                  style="--mdc-filled-button-container-color: #009999"
                  (click)="onChildButtonValueChanged('WT')">
            Add
          </button>
          <mat-list role="list">
            <mat-list-item *ngFor="let item of projectClass.WorkingTeam">
              {{ item }}
              <button mat-icon-button
                      (click)="deleteItem(item, 'WT')"
                      matListItemMeta>
                <mat-icon>remove</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>

          <div class="input-container">
            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'RS')"
                                 [title]="'Report status'"></app-input-component>
            <mat-error *ngIf="isReportStatusWhitespace" class="invalid-input-message">Report status cannot contain only whitespace</mat-error>
          </div>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'OS')"
                                [option]="OfferStatus"
                                [title]="'Offer Status'"></app-select-component>

          <div class="input-container">
            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'CFC')"
                                 [title]="'Contact for client'"
                                 [inputValue]="cfcField"></app-input-component>
            <mat-error *ngIf="isCFCWhitespace" class="invalid-input-message">Contact for client cannot contain only whitespace</mat-error>
            <mat-error *ngIf="isCFCInvalidEmail && !isCFCWhitespace" class="invalid-input-message">Invalid email format</mat-error>
          </div>

          <button mat-flat-button
                  color="warn"
                  style="--mdc-filled-button-container-color: #009999"
                  (click)="onChildButtonValueChanged('CFC')">
            Add
          </button>
          <mat-list role="list">
            <mat-list-item *ngFor="let item of projectClass.ContactForClients">
              {{ item }}
              <button mat-icon-button
                      (click)="deleteItem(item, 'CFC')"
                      matListItemMeta>
                <mat-icon>remove</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <div>
            <h5>Add comment:</h5>

            <textarea type="text"
                      class="comment-input"
                      #commentInput
                      (input)="getValueFromTextarea()"></textarea>
          </div>
          <mat-error *ngIf="isCommentWhitespace" class="invalid-comment-message">Comment cannot contain only whitespace</mat-error>
        </div>
      </div>

      <button
        mat-flat-button
        color="warn"
        class="create-button"
        (click)="validationFunction()"
      >
        Create
      </button>
    </div>
  </div>
</div>
