.left-column {
width: 450px;
display: flex;
flex-direction: column;
gap: 10px;
min-width: 500px;
}

.pm-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 120px;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pm-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pm {
/*padding: 40px 200px 0px 200px;*/
  width: 1200px;
}

.project-name-input {
    width: 50%;
  }
  
  .example-full-width {
    width: 90%;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .two-in-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

.create-button {
    position: relative;
    margin-top: 100px;
    width: 300px;
    height: 60px;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 30px;
}

  .mat-mdc-unelevated-button.mat-warn {
    --mdc-filled-button-container-color: #ec6602;
    --mdc-filled-button-label-text-color: #fff;
}

.comment-input {
  background-color: #f2f2f2;
  height: 131px;
  width: 100%;
  border: none;
}

.mat-form-field-invalid .mat-input-element {
  border-color: red;
  box-shadow: 0 0 5px red;
}

.date-container {
  display: flex;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container-pentest {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.cat-container {
  display: flex;
  position: relative;
}

.error-message {
  position: absolute;
  top: 100%;
  font-size: 15px;
  margin-top: -20px;
  left: 0;
}

.invalid-date-message {
  color: red;
  position: absolute;
  font-size: 15px;
  margin-top: -20px;
  top: 100%; 
  left: 0;
}

.invalid-input-message {
  margin-top: -18px;
  font-size: 15px;
  display: flex;
}

.invalid-comment-message {
  margin-top: -10px;
  margin-bottom: -18px;
  font-size: 15px;
  display: flex;
  position: relative;
}




@media screen and (max-width: 1000px) {
  .pm-columns {
    flex-direction: column;
    gap: 10px; 
    align-items: center; 
  }

  .projectname-input {
    display: flex;
    justify-content: center ;
  }

  .header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
