.filters-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with the same width */
  grid-gap: 10px; /* Same distance between two columns */
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 5px 20px; /* Add padding around each filter item */
  border-radius: 5px; /* Add rounded corners for a more pleasant look */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-field {
  width: 100%;
}

.checkbox{
  accent-color: #ec6602;
  width: 20px;
  height: 20px;
}

.upload {
  border:inset;
}

.custom-width {
  width: 200px;
}

.icon {
  cursor: pointer;
  border: solid 2px #ec6602;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #ec6602;
}

.group-icons {
  position: absolute;
  display: flex;
  right: 3.5%;
  bottom: 3%;
  flex-direction: column;
  gap:10px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-popup-button {
  cursor: pointer;
  border: none;
  margin-left: 65%
}

.delete-selected-findings-button {
  border: none;
  margin-left: 80%
}

.container-at-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
}


@media screen and (max-width: 1090px) {
  .filters-container {
    grid-template-columns: 1fr; /* 1 column */
    grid-gap: 5px;
  }

  .filter-item {
    padding: 1px 30px; /* Add padding around each filter item */
  }

  .checkbox {
      height: 15px;
      width: 15px;
  }

  .container-at-bottom {
      height: 250px;
      padding-top: 1px;
  }
}

@media screen and (max-width: 580px) {
  .filters-container {
    width: 100%;
  }

  .filter-item {
    padding: 0; /* Add padding around each filter item */

  }
}
::ng-deep .highlighted-text{
  background-color: yellow;
}
