<div class="container-fluid bg-light">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-2 bg-white position-fixed" style="height: 100vh;">
      <div>

        <div class="search-container">
          <h4 class="center">Search items</h4>
        <mat-form-field class="search-field">
        <input matInput placeholder="Search..." [(ngModel)]="value"  (ngModelChange)="checkFormValidity()" (keyup.enter)="onSearch()">
        </mat-form-field>

        <h4 class="center">Filters</h4>
        <div class="center">
          <div class="filters-container">
            <div class="filter-item" *ngFor="let case of keywords;  let i = index">
              <input class="checkbox"
                     type="radio"
                     [id]="case.id"
                     [name]="'case' + i"
                     [value]="case.value"
                     [(ngModel)]="keyword"
                     (ngModelChange)="checkFormValidity()"
              >
              <label [for]="case.id">{{ case.label }}</label><br>
            </div>
          </div>
        </div>
        </div>
        <div class="center submit-button">
          <button class="primary__button"   [disabled]="!isFormValid || isLoading" (click)="onSearch()">
            <span *ngIf="!isLoading">Search</span>
            <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
          </button>
        </div>

      </div>
    </div>
    <!-- Project Reports -->
    <div class="col offset-2">
      <div style="overflow-y: scroll; height: 100vh;" #reportsScrollableBox>
        <div>

          <div class="card m-3" *ngFor="let report of loadedReports">
            <div class="card-body">
              <h5 class="card-title">{{report.documentInfo?.projectReportName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">{{report.projectInfo?.targetInfoDescription ?? "No description given..."}}</p>
              <button class="btn btn-secondary">Get Source</button>
            </div>
            </div>
            <div class="text-center pagination-centered">

              <mat-spinner *ngIf="isLoadingNextPage" diameter="50"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
