.alignment {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #f2f2f2;
    padding: 10px;
}

.radio-input{
    display: flex;

  }

.radio-input input{
  border: #f2f2f2;
  width: 40px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

.invalid-input {
  border: 1px solid red;
}

.invalid-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-container {
  display: flex;
  position: relative;
}

.invalid-message {
  color: red;
  position: absolute;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 12px;
}
