<h5>Pentest duration:</h5>
<mat-radio-group
  aria-label="Select an option"
  class="alignment"
  [(ngModel)]="radioValue"
  (change)="onRadioChange()"
>
  <mat-radio-group [(ngModel)]="selectedOption">
    <div>
      <mat-radio-button value="2">Two weeks</mat-radio-button>
    </div>

    <div>
      <mat-radio-button value="4">Four weeks</mat-radio-button>
    </div>

    <div class="radio-input">
      <mat-radio-button value="3"></mat-radio-button>
      <div class="input-container">
        <input type="number"
               #weeksInput="ngModel"
               min="2"
               max="10"
               [(ngModel)]="inputValue"
               [ngClass]="{'invalid-input': weeksInput.invalid && weeksInput.dirty}" />
        <p>weeks</p>
      </div>

      <mat-error *ngIf="weeksInput.invalid && weeksInput.dirty" class="invalid-message">
        Value must be a number between 2 and 10
      </mat-error>
    </div>
  </mat-radio-group>
