<div class="container-fluid">
  <div class="row">
    <div class="col-4 col-lg-2 col-xl-2 offset-1 d-flex align-items-end">
      <img class="img-fluid" src="assets\images\siemens-healthineers-logo.png" />
    </div>
    <div class="col-2 offset-3 offset-lg-7 d-flex align-items-end">
      <button class="btn btn-link d-flex align-items-center login" (click)="navigateToWebsite('https://www.google.com')">
        <i class="bi bi-box-arrow-in-right me-2"></i>
        Login
      </button>
    </div>
  </div>

  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler offset-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="offset-1 navbar-nav">
          <li class="nav-item active">
            <a class="nav-link link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#">How to order a pentest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled link" href="#">TO BE DELETED-> </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="navigateToPage('/list-projects')">
              PROJECT LISTING
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="navigateToPage('/project-search')">
              PROJECT SEARCH
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="navigateToPage('/dashboard')">
              DASHBOARD
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!--Hero content-->
  <div class="row">
    <section class="hero-block overflow-hidden width-100">
      <div class="width-100 bg-color-black">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-lg-6 order-lg-2">
                  <div class="aspect-ratio-16x9 aspect-ratio--cover">
                    <div>
                      <div>
                        <img src="assets\images\siemens-healthineers_Services_Value-Partnerships.jpg" class="img-fluid" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hero-block__panel order-lg-1 col-12 col-lg-6">
                  <div class="hero-block__content">
                    <div class="hero-block-pulse">
                      <div class="row justify-content-end">
                        <div class="col-sm-8 offset-sm-0 col-10 offset-1">
                          <div class="dot-pulse">
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                            <div class="dot-pulse__item"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row headlines">
                      <div class="col">
                        <div class="hero-block__headings">
                          <h1>
                            <span class="hero-block__title display-block">Cybersecurity Assesment</span>
                            <span class="h5 hero-block__subtitle display-block is-sm-white">(1337 Pentesters)</span>
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <div class="row pt-4 mt-4">
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <img src="assets\images\random-pic-1.png" class="img-fluid" />
    </div>
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <h2>Safeguarding Digital Assets with Cybersecurity</h2>
      <p>
        In an era dominated by technology, Cybersecurity is
        paramount for safeguarding sensitive data from potential
        threats. From financial institutions to personal devices,
        securing our digital assets is crucial in protecting against
        data breaches, identity theft, and unauthorized access.
        Cybersecurity measures not only ensure the confidentiality
        and integrity of information but also play a significant role
        in building trust and confidence in online interactions.
      </p>
    </div>
  </div>
  <div class="row pt-4 mt-4 mb-4">
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <h2> Cybersecurity: Defending Businesses from Digital Threats</h2>
      <p>
        With the rapid expansion of the digital landscape,
        the Importance of Cybersecurity cannot be overstated.
        As businesses rely heavily on technology for their daily
        operations, the risk of cyberattacks grows exponentially.
        An effective cybersecurity strategy helps organizations
        defend against malicious actors and cybercriminals,
        preventing potentially catastrophic consequences. It not
        only secures businesses' proprietary information but also
        shields their reputation and customer trust in an
        ever-connected world.
      </p>
    </div>
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <img src="assets\images\random-pic-3.png" class="img-fluid" />
    </div>
  </div>
  <div class="row pt-4 mt-4 mb-4">
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <img src="assets\images\random-pic-2.png" class="img-fluid" />
    </div>
    <div class="offset-1 col-11 col-xl-4 col-lg-4">
      <h2> Safeguarding National Security through Cybersecurity</h2>
      <p>
        Cybersecurity is a fundamental pillar for national security
        and critical infrastructure protection. As governments and
        industries move towards digitalization, the potential for
        cyber threats on a large scale becomes a looming concern.
        A robust cybersecurity framework ensures the resilience of
        a nation's digital infrastructure, safeguarding essential
        services, such as energy, healthcare, transportation, and
        communication networks, from potential cyber-espionage,
        cyberwarfare, and disruption. Proactive cybersecurity measures
        are essential for preserving the stability and safety of
        the entire nation.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>

