.file-input-label {
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  height: 35px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: center; /* Horizontally center text */
  align-items: center; /* Vertically center text */
}

.file-upload-container {
  display: flex;
  justify-content: center; /* Horizontally center text */
  align-items: center; /* Vertically center text */
  flex-direction: column;
  border: 2px dashed #ffffff;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.upload-icon {
  padding-top: 8px;
  margin-left: 8px;
}

.clickable-item {
  cursor: pointer;
}
