<p>{{ pentestTitle }}</p>
<div
  class="file-upload-container"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
>
  <p>Drag and drop or click to select file</p>
  <input
    type="file"
    (change)="onFileSelected($event)"
    style="display: none"
    #fileInput
    id="fileInput"
  />
  <label
    for="fileInput"
    class="file-input-label"
    style="background-color: #ec6602"
    >Select file</label
  >
</div>
<ul>
  <li *ngFor="let file of uploadedFiles">
    {{ file.name }}
    <mat-icon style="color: #23d100" (click)="upload(file, pentest)">check</mat-icon>
    <mat-icon style="color: #d10000">cancel</mat-icon>
    <mat-icon style="color: #c3d100">cached</mat-icon>
  </li>
</ul>
