<footer class="bg-dark text-light py-4">
    <div class="container-fluid pt-5">
      <div class="row">
        <div *ngFor="let section of footerSections" class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <h5 id="section_title">{{ section.title }}</h5>
          <ul class="list-unstyled">
            <li id="link_title" *ngFor="let link of section.links">
                <a class="footer-link" [href]="link.url">{{ link.title }}</a>
              </li>
          </ul>
        </div>
        <div *ngFor="let section of connectSection" class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <h5 id="connect_section_title">{{ section.title }}</h5>
            <ul class="list-unstyled horizontal-group-icon">
              <li *ngFor="let link of section.links">
                <a class="footer-link" [href]="link.url">
                  <i class="footer-icon" *ngIf="link.icon" [class]="link.icon"></i>
                </a>
              </li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <h5 id="newsletter_section_title">Newsletter</h5>
              <ul class="list-unstyled">
                  <li>
                    <a href="https://www.siemens-healthineers.com/newsletter"><button class="btn btn-primary m-1">Subscribe</button></a>
                  </li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p id="footer_more_info" style="color: #999;">Siemens Healthcare GmbH &copy; 2023 |
            <a class="footer-link" href="https://www.siemens-healthineers.com/corporate-info">Corporate Information</a> |
            <a class="footer-link" href="https://www.siemens-healthineers.com/siemens-website-privacy-policy">Website Privacy Policy</a> |
            <a class="footer-link" href="https://www.siemens-healthineers.com/marketing-privacy-notice">Marketing Privacy Notice</a> |
            <a class="footer-link" href="https://www.siemens-healthineers.com/cookie">Cookie Policy</a> |
            <a class="footer-link" href="https://www.siemens-healthineers.com/terms-of-use">Terms of Use</a> |
            <a class="footer-link" href="https://static.siemens-healthineers.com/cms/LicenseInfo.html">3rd Party Licenses</a>
          </p>
        </div>
      </div>
    </div>
</footer>
  
<!-- <footer class="bg-dark text-light py-4">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <h5>Products & Services</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/products-services/value-partnerships-and-consulting">Value Partnerships & Consulting</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/medical-imaging">Medical Imaging</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/laboratory-diagnostics">Laboratory Diagnostics</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/point-of-care-testing">Point of Care Testing</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/digital-health-solutions">Digital Solutions & Automation</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/services">Services</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/infrastructure-it">Healthcare IT</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/clinical-specialities">Clinical Specialities & Diseases</a></li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <h5>Support & Documentation</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/support-documentation/online-services/document-library">Document Library (SDS, IFU, etc.)</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/education">Education & Training</a></li>
                    <li><a class="footer-link" href="https://pep.siemens-info.com/">PEPconnect</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/services/customer-services/connect-platforms-and-smart-enablers/teamplay-fleet">Teamplay Fleet</a></li>
                    <li><a class="footer-link" href="https://shop.healthcare.siemens.com/SIEMENS/dashboard">Webshop</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/support-documentation/online-services">Online Services</a></li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <h5>Insights</h5>
                <ul class="list-unstyled">
                  <li><a class="footer-link" href="https://www.siemens-healthineers.com/insights/innovating-personalized-care">Innovating Personalized Care</a></li>
                  <li><a class="footer-link" href="https://www.siemens-healthineers.com/insights/achieving-operational-excellence">Achieving Operational Excellence</a></li>
                  <li><a class="footer-link" href="https://www.siemens-healthineers.com/insights/transforming-the-system-of-care">Transforming the System of Care</a></li>
                  <li><a class="footer-link" href="https://www.siemens-healthineers.com/insights/news">Insights Center</a></li>
               </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/company">About Sieamens Healhtineers</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/company/compliance">Compliance</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/news-and-events/conferences-events-new">Conferences & Events</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/how-can-we-help-you">Contact Us</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/investor-relations">Investor Relations</a></li>
                    <li><a class="footer-link" href="https://jobs.siemens.com/healthineers/jobs?page=1">Job Search</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/perspectives">Perspectives</a></li>
                    <li><a class="footer-link" href="https://www.siemens-healthineers.com/press">Press Center</a></li>
                </ul>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <h5>Connect</h5>
              <ul class="list-unstyled">
                  <div class="horizontal-group-icon">
                    <li>
                      <a class="footer-link" href="https://twitter.com/SiemensHealth">
                        <i class="bi bi-twitter footer-icon"></i>
                      </a>
                    </li>
                    <li>
                      <a class="footer-link" href="https://www.facebook.com/SiemensHealthineers">
                        <i class="bi bi-facebook footer-icon"></i>
                      </a>
                    </li>
                    <li>
                      <a class="footer-link" href="https://www.instagram.com/siemens.healthineers/">
                        <i class="bi bi-instagram footer-icon"></i>
                      </a>
                    </li>
                    <li>
                      <a class="footer-link" href="https://www.linkedin.com/company/siemens-healthineers">
                        <i class="bi bi-linkedin footer-icon"></i>
                      </a>
                    </li>
                    <li>
                      <a class="footer-link" href="https://www.youtube.com/siemenshealthineers">
                        <i class="bi bi-youtube footer-icon"></i>
                      </a>
                    </li>
                  </div>
              </ul>
          </div>
          <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <h5>Newsletter</h5>
              <ul class="list-unstyled">
                  <li><a href="https://www.siemens-healthineers.com/newsletter"><button class="btn btn-primary m-1">Subscribe</button></a></li>
              </ul>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color: #999;">Siemens Healthcare GmbH &copy; 2023 | <a class="footer-link" href="https://www.siemens-healthineers.com/corporate-info">Corporate Information</a> | <a class="footer-link" href="https://www.siemens-healthineers.com/siemens-website-privacy-policy">Website Privacy Policy</a> | <a class="footer-link" href="https://www.siemens-healthineers.com/marketing-privacy-notice">Marketing Privacy Notice</a> | <a class="footer-link" href="https://www.siemens-healthineers.com/cookie">Cookie Policy</a> | <a class="footer-link" href="https://www.siemens-healthineers.com/terms-of-use">Terms of Use</a> | <a class="footer-link" href="https://static.siemens-healthineers.com/cms/LicenseInfo.html">3rd Party Licenses</a></p>
            </div>
        </div>
    </div>
</footer> -->
  
