<div class="header">
  <h1>Project management</h1>
  <h3>ID: 123456</h3>
</div>

<div class="pm-background">
  <div class="left-column">
    <app-input-component [title]="'Project name'"></app-input-component>
    <datepicker-component id="picker1"></datepicker-component>
    <datepicker-component id="picker2"></datepicker-component>

    <app-select-component
      [option]="ProjectStatus"
      [title]="'Project status'"
    ></app-select-component>
    <app-select-component
      [option]="ProjectScope"
      [title]="'Project scope'"
    ></app-select-component>
    <app-select-component
      [option]="Questionare"
      [title]="'Questionare'"
    ></app-select-component>
    <div>
      <app-radio-button-component></app-radio-button-component>
      <app-input-component></app-input-component>
      <p>weeks</p>
    </div>

    <datepicker-component id="picker3"></datepicker-component>
    <datepicker-component id="picker4"></datepicker-component>

    <app-input-component [title]="'Pentest aspect'"></app-input-component>
  </div>

  <div class="left-column">
    <datepicker-component id="picker3"></datepicker-component>
    <app-input-component [title]="'Cats number'"></app-input-component>
    <app-input-component [title]="'Project lead'"></app-input-component>
    <app-input-component [title]="'Working team'"></app-input-component>
    <app-input-component [title]="'Report status'"></app-input-component>
    <app-input-component [title]="'Contact for client'"></app-input-component>
    <app-input-component [title]="'Add comment'"></app-input-component>
  </div>
  <button mat-flat-button color="warn">Primary</button>
</div>
