.login-container {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/shman.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 100vh;
}

.login-card {
  padding: 20px;
  width: 500px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}


.login-form-field {
  margin-bottom: 10px;
  width: 350px;
}

.title {
  padding-bottom: 40px;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.button {
  width: 250px;
  height: 60px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}
