.list-container {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.paginator-container {
  margin-top: 20px;
}

.table-container {
  height:200px;
  overflow-y: auto;
  overflow-x:auto;
}

.list-container th {
  text-align: center;
}

.list-container td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .list-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 494px) {
  .list-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paginator-container {
    padding-bottom: 10px;
  }
}
