<div class="search-component">
  <h2 class="center">Search</h2>
  <mat-form-field class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search..." [(ngModel)]="value"  (ngModelChange)="checkFormValidity()">
  </mat-form-field>

  <h4 class="center">Filters</h4>
  <div class="center">
    <div class="filters-container">
      <div class="filter-item" *ngFor="let case of keywords;  let i = index">
        <input class="checkbox"
          type="radio"
          [id]="case.id"
          [name]="'case' + i"
          [value]="case.value"
          [(ngModel)]="keyword"
          (ngModelChange)="checkFormValidity()"
        >
        <label [for]="case.id">{{ case.label }}</label><br>
      </div>
    </div>
  </div>
  
  <div class="center submit-button">
    <button class="primary__button" (click)="searchProjectReports()" [disabled]="!isFormValid || isLoading">
      <div class="loading-container">
        <span *ngIf="!isLoading">Submit</span>
        <mat-spinner diameter="25" *ngIf="isLoading" class="mat-spinner-custom"></mat-spinner>
        <span *ngIf="isLoading" class="loading" > Loading...</span>
      </div>
    </button>
  </div>
  
  <hr />

<!--  <div *ngFor="let item of projectDataReports">-->
<!--    <p><strong>ID:</strong>  {{ item.id }}</p>-->
<!--    <p><strong> Project report name:</strong>  {{ item.documentInfo?.projectReportName }}</p>-->
<!--&lt;!&ndash;    <p><strong> Project report mainAuthor:</strong>  {{ item.documentInfo?.mainAuthor }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let history of item.documentInfo?.reportDocumentHistory">&ndash;&gt;-->
<!--&lt;!&ndash;      <ol><b>Version Date:</b> {{ history.versionDate }}</ol>&ndash;&gt;-->
<!--&lt;!&ndash;      <ol><b>Version:</b> {{ history.version }}</ol>&ndash;&gt;-->
<!--&lt;!&ndash;      <ol><b>Whole Name:</b> {{ history.wholeName }}</ol>&ndash;&gt;-->
<!--&lt;!&ndash;      <ol><b>Report Status:</b> {{ history.reportStatus }}</ol>&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--    </div>-->
</div>
