.filters-container {
  display: flex;
}

.filters-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.custom-check {
  margin-bottom: 10px;
}

.left-column {
  margin-right: 20px;
}

.right-column {
  margin-left: 20px;
}

.search-field {
  display: flex;
  padding-top: 20px;
}


.loading-container {
  display: flex;
  align-items: center;
  position: center;
  color: white;
}

.loading {
  margin-left: 5%;
  padding-left: 5%;
}

.filters-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 stĺpce s rovnakým podielom šírky */
  grid-gap: 10px; /* Vzdialenosť medzi jednotlivými položkami */
}

.filter-item {
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.checkbox {
  margin-right: 5px;
}

.submit-button {
  padding-top: 20px;
}
