<div class="page">
  <div class="pm">
    <div class="header">
      <h1>Project editing</h1>
      <h3 style="color: #009999; font-weight: 400">
        Project ID: {{ this.projectClass.id }}
      </h3>
    </div>
    <div style="margin-bottom: 20px" class="projectname-input">
      <app-input-component (valueChanged)="onChildInputValueChanged($event, 'PN')"
                           [title]="'Project name'"
                           [inputValue]="this.projectClass.ProjectName"
                           class="project-name-input">
      </app-input-component>
    </div>

    <div class="pm-background">
      <div class="pm-columns">
        <div class="left-column">
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component #startDate
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : defaultMaxDate"
                                    [title]="'Start Date'"
                                    [inputValue]="projectClass.StartDate"
                                    (valueChanged)="onChildDateValueChanged($event, 'STR')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidStartDate" class="error-message">Invalid start date</mat-error>
            </div>

            <div class="date-container">
              <datepicker-component #endDate
                                    [minDate]="this.projectClass.StartDate"
                                    [maxDate]="isRepDateSet() ? projectClass.ReportDueDate : defaultMaxDate"
                                    [title]="'End Date'"
                                    [inputValue]="projectClass.EndDate"
                                    (valueChanged)="onChildDateValueChanged($event, 'END')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidEndDate" class="error-message">Invalid end date</mat-error>
            </div>
          </div>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'PST')"
                                [option]="ProjectStatus"
                                [title]="'Project status'"
                                [inputValue]="this.projectClass.ProjectStatus ? getStatusString(this.projectClass.ProjectStatus) : 'None'">
          </app-select-component>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'PSC')"
                                [option]="ProjectScope"
                                [title]="'Project scope'"
                                [inputValue]="this.projectClass.ProjectScope ? getScopeString(this.projectClass.ProjectScope) : 'None'">
          </app-select-component>

          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'QUE')"
                                [option]="Questionare"
                                [title]="'Questionare'"
                                [inputValue]="this.projectClass.ProjectQuestionare ? getQuestionareString(this.projectClass.ProjectQuestionare) : 'None'">
          </app-select-component>
          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'PA')"
                               [title]="'Pentest aspect'"
                               [inputValue]="this.projectClass.PentestAspects">
          </app-input-component>
          <div>
            <app-radio-button-component (valueChanged)="onChildRadioValueChanged($event)" [project]="this.projectClass"></app-radio-button-component>
          </div>
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component [minDate]="this.projectClass.StartDate"
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : (this.isRepDateSet() ? this.projectClass.ReportDueDate : this.defaultMaxDate)"
                                    [title]="'IKO'"
                                    [inputValue]="projectClass.IKO"
                                    (valueChanged)="onChildDateValueChanged($event, 'IKO')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidIKO" class="error-message">Invalid IKO</mat-error>
            </div>

            <div class="date-container">
              <datepicker-component [minDate]="this.projectClass.StartDate"
                                    [maxDate]="isEndDateSet() ? projectClass.EndDate : (this.isRepDateSet() ? this.projectClass.ReportDueDate : this.defaultMaxDate)"
                                    [title]="'TKO'"
                                    [inputValue]="projectClass.TKO"
                                    (valueChanged)="onChildDateValueChanged($event, 'TKO')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidTKO" class="error-message">Invalid TKO</mat-error>
            </div>
          </div>
        </div>

        <div class="left-column">
          <div class="two-in-row">
            <div class="date-container">
              <datepicker-component #reportDueDate
                                    [minDate]="isEndDateSet() ? projectClass.EndDate : projectClass.StartDate"
                                    [title]="'Report Due Date'"
                                    [inputValue]="projectClass.ReportDueDate"
                                    (valueChanged)="onChildDateValueChanged($event, 'REP')">
              </datepicker-component>
              <mat-error *ngIf="isInvalidReportDueDate" class="invalid-date-message">Invalid Report Due Date</mat-error>
            </div>

            <app-input-component (valueChanged)="onChildInputValueChanged($event, 'CN')"
                                 [title]="'Cats number'"
                                 [inputValue]="this.projectClass.CatsNumber">
            </app-input-component>
          </div>

          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'PL')"
                               [title]="'Project lead'"
                               [inputValue]="this.projectClass.ProjectLead">
          </app-input-component>
          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'WT')"
                               [title]="'Working team'"
                               [inputValue]="wtField">
          </app-input-component>

          <button mat-flat-button
                  color="warn"
                  style="--mdc-filled-button-container-color: #009999"
                  (click)="onChildButtonValueChanged('WT')">
            Add
          </button>
          <mat-list role="list">
            <mat-list-item *ngFor="let item of projectClass.WorkingTeam">
              {{ item }}
              <button mat-icon-button
                      (click)="deleteItem(item, 'WT')"
                      matListItemMeta>
                <mat-icon>remove</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'RS')"
                               [title]="'Report status'"
                               [inputValue]="this.projectClass.ReportStatus">
          </app-input-component>
          <app-select-component (valueChanged)="onChildInputValueChanged($event, 'OS')"
                                [option]="OfferStatus"
                                [title]="'Offer Status'"
                                [inputValue]="this.projectClass.ProjectOfferStatus ? getOfferStatusString(this.projectClass.ProjectOfferStatus) : 'None'">
          </app-select-component>
          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'CFC')"
                               [title]="'Contact for client'"
                               [inputValue]="cfcField">
          </app-input-component>
          <button mat-flat-button
                  color="warn"
                  style="--mdc-filled-button-container-color: #009999"
                  (click)="onChildButtonValueChanged('CFC')">
            Add
          </button>
          <mat-list role="list">
            <mat-list-item *ngFor="let item of projectClass.ContactForClients">
              {{ item }}
              <button mat-icon-button
                      (click)="deleteItem(item, 'CFC')"
                      matListItemMeta>
                <mat-icon>remove</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>

          <app-input-component (valueChanged)="onChildInputValueChanged($event, 'COM')"
                               [title]="'Comments'"
                               [inputValue]="comField">
          </app-input-component>
          <button mat-flat-button
                  color="warn"
                  style="--mdc-filled-button-container-color: #009999"
                  (click)="onChildButtonValueChanged('COM')">
            Add
          </button>

          <div class="comment-container">
            <mat-list role="list">
              <mat-list-item *ngFor="let item of projectClass.Comments">
                <div [matTooltip]="item.text">{{ item.text }}</div>
                <button mat-icon-button
                        (click)="deleteItem(item.text, 'COM')"
                        matListItemMeta>
                  <mat-icon>remove</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>

      <button mat-flat-button
              color="warn"
              class="create-button"
              [disabled]="isProjectNameInvalidLength || isProjectNameWhitespace || isProjectNameEmpty || isInvalidStartDate || isInvalidEndDate || isPentestAspectWhitespace ||
              isPentestValueInvalid || isInvalidIKO || isInvalidTKO || isInvalidReportDueDate ||
              isCatsNumberWhitespace || isProjectLeadWhitespace || isWorkingTeamWhitespace || isReportStatusWhitespace || isCFCInvalidEmail || isCommentWhitespace"
              (click)="validationFunction()">
        Save
      </button>
    </div>
  </div>
</div>
