/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;

    font-family: "Siemens Sans","SH-Bree-Text","Open Sans","Roboto","Droid Sans","Segoe UI",-apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: inherit;
    font-size: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-mdc-snack-bar-container {
  &.custom-snackbar
{
  --mdc-snackbar-container-color: #ededed;
}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.green-alert {
    --mdc-snackbar-container-color: #80cd9c;
  }
}

.mat-mdc-snack-bar-container {
  &.red-alert
  {
    --mdc-snackbar-container-color: #f3808e;
  }
}

.custom-alert button {
  color: black !important;
}
