
.dismiss-button {
  background-color: #ec6602;
}


.alert-message {
  position: relative;
  color: #393939;
  left: 10%;
}


button {
  color: black;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  flex: none;
  margin-right: 0px;
}


.heading {
    color: #351a1a;
    font-family: 'Siemens sans';
}

.title {
    position: absolute;
    font-family: 'Siemens sans';
    font-size: large;
    top: 23%;
    left: 15%;
    font-weight: bold;
}

.cancel {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3px;
    margin-right: 3px;
    text-decoration: none;
}
