<!--Dahsboard HTML-->
<div class="group">
  <div class="group-inside">
    <br>
    <div>
      <h1>DASHBOARD</h1>
    </div>
    <div>
      <div class="graph-group">
        <div class="block">
          <canvas id="criticalityChart"></canvas>
        </div>
        <div class="block">
          <canvas id="vulnerabilityChart"></canvas>
        </div>
        <div class="rectangle">
          <canvas class="bar-chart" id="CWEChart"></canvas>
        </div>
        <div class="rectangle">
          <canvas class="bar-chart" id="CVSSChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>



