<h1>CSA</h1>
<div class="group">
<div class="graph-group">
<div style="max-height: 400px; text-align: center; border: solid 2px black; padding: 15px">
  <canvas id="criticalityChart"></canvas>
</div>
<div style="max-height: 400px; text-align: center; border: solid 2px black; padding: 15px" >
  <canvas id="vulnerabilityChart"></canvas>
</div>
</div>
<div class="graph-group" style="padding-top: 15px">
<div style="max-height: 500px; max-width: 500px; text-align: center; border: solid 2px black; padding: 15px" >
  <canvas style="max-height: 200px; max-width: 500px" id="CWEChart"></canvas>
</div>
<div style=" max-width: 500px; text-align: center; border: solid 2px black; padding: 15px" >
  <canvas style="max-height: 200px; max-width: 500px" id="CVSSChart"></canvas>
</div>
</div>
</div>
