<h1>CSA</h1>
<div class="group">
<div class="graph-group">
<div style="text-align: center; border: solid 2px black; padding: 15px">
  <canvas style="height: 200px;"  id="criticalityChart"></canvas>
</div>
<div style=" text-align: center; border: solid 2px black; padding: 15px" >
  <canvas style="height: 200px;" id="vulnerabilityChart"></canvas>
</div>
  <div style="text-align: center; border: solid 2px black; padding: 15px" >
    <canvas style="height: 400px;" id="CWEChart"></canvas>
  </div>
</div>
<div class="graph-group" style="padding-top: 15px">

<div style=" text-align: center; border: solid 2px black; padding: 15px" >
  <canvas style="height: 400px;" id="CVSSChart"></canvas>
</div>
</div>
</div>
