.list-container {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.paginator-container {
    margin-top: 20px;
}

.table-container {
  overflow-x: auto;
}

.list-container th {
     text-align: center;
}

.list-container td {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .list-container {
    padding-left: 20px;
    padding-right: 20px;
  }
 }

@media (max-width: 494px) {
  .list-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paginator-container {
    padding-bottom: 10px;
  }
}

.checked-row {
  background-color: #F2F2F2; 
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.mat-cell {
  justify-content: center;
  align-items: center;
  height: 80px;
}

.comment-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-text:hover {
  white-space: normal;
  overflow: visible;
}

.checked-row:hover {
    background-color: #F2F2F2; /* Replace with the same color as above */
}

